--
-- PostgreSQL database dump
--

\restrict Mq8VeeV1X1dc22K4s3dhl4HN1g79FpWfRYUpcdtzeXpu4b29rQnoeKzkyDTMrRy

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ConversationStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ConversationStatus" AS ENUM (
    'OPEN',
    'CLOSED'
);


ALTER TYPE public."ConversationStatus" OWNER TO postgres;

--
-- Name: MessageType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MessageType" AS ENUM (
    'TEXT',
    'IMAGE',
    'FILE',
    'VIDEO',
    'VOICE'
);


ALTER TYPE public."MessageType" OWNER TO postgres;

--
-- Name: Platform; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Platform" AS ENUM (
    'FACEBOOK',
    'INSTAGRAM',
    'ZALO'
);


ALTER TYPE public."Platform" OWNER TO postgres;

--
-- Name: SenderType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SenderType" AS ENUM (
    'CUSTOMER',
    'AI',
    'ADMIN'
);


ALTER TYPE public."SenderType" OWNER TO postgres;

--
-- Name: SourceType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SourceType" AS ENUM (
    'MESSENGER',
    'INSTAGRAM_DM',
    'COMMENT',
    'ADS',
    'WEBSITE'
);


ALTER TYPE public."SourceType" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversations (
    id text NOT NULL,
    customer_id text NOT NULL,
    platform public."Platform",
    page_id character varying(255),
    conversation_id character varying(255),
    started_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_message_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    ai_summary text,
    ai_intent character varying(255),
    status public."ConversationStatus" DEFAULT 'OPEN'::public."ConversationStatus"
);


ALTER TABLE public.conversations OWNER TO postgres;

--
-- Name: customer_ai; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_ai (
    id text NOT NULL,
    customer_id text NOT NULL,
    lead_score numeric(5,2),
    purchase_probability numeric(5,2),
    ai_summary text,
    next_action text,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.customer_ai OWNER TO postgres;

--
-- Name: customer_interests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_interests (
    id text NOT NULL,
    customer_id text NOT NULL,
    product_name character varying(255),
    quantity integer,
    budget numeric(15,2),
    deadline date,
    note text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.customer_interests OWNER TO postgres;

--
-- Name: customer_sources; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_sources (
    id text NOT NULL,
    customer_id text NOT NULL,
    page_id character varying(255),
    page_name character varying(255),
    source_type public."SourceType",
    campaign_name character varying(255),
    adset_name character varying(255),
    ad_name character varying(255),
    post_id character varying(255),
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.customer_sources OWNER TO postgres;

--
-- Name: customer_tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_tags (
    id text NOT NULL,
    customer_id text NOT NULL,
    tag_name character varying(255)
);


ALTER TABLE public.customer_tags OWNER TO postgres;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    id text NOT NULL,
    meta_user_id character varying(255),
    page_id character varying(255),
    platform public."Platform",
    full_name character varying(255),
    phone character varying(20),
    email character varying(255),
    avatar_url text,
    profile_url text,
    address text,
    city character varying(100),
    district character varying(100),
    ward character varying(100),
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    id text NOT NULL,
    conversation_id text NOT NULL,
    sender public."SenderType",
    message_type public."MessageType",
    content text,
    attachment_url text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id text NOT NULL,
    order_id text NOT NULL,
    product_name character varying(255) NOT NULL,
    quantity integer NOT NULL,
    unit_price numeric(15,2) NOT NULL,
    subtotal numeric(15,2) NOT NULL
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id text NOT NULL,
    "orderNo" character varying(50) NOT NULL,
    customer_id text NOT NULL,
    total_amount numeric(15,2) NOT NULL,
    deposit_amount numeric(15,2),
    status character varying(50) DEFAULT 'PENDING'::character varying NOT NULL,
    payment_method character varying(50),
    shipping_address text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.conversations (id, customer_id, platform, page_id, conversation_id, started_at, last_message_at, ai_summary, ai_intent, status) FROM stdin;
\.


--
-- Data for Name: customer_ai; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customer_ai (id, customer_id, lead_score, purchase_probability, ai_summary, next_action, updated_at) FROM stdin;
\.


--
-- Data for Name: customer_interests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customer_interests (id, customer_id, product_name, quantity, budget, deadline, note, created_at) FROM stdin;
\.


--
-- Data for Name: customer_sources; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customer_sources (id, customer_id, page_id, page_name, source_type, campaign_name, adset_name, ad_name, post_id, created_at) FROM stdin;
\.


--
-- Data for Name: customer_tags; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customer_tags (id, customer_id, tag_name) FROM stdin;
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customers (id, meta_user_id, page_id, platform, full_name, phone, email, avatar_url, profile_url, address, city, district, ward, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.messages (id, conversation_id, sender, message_type, content, attachment_url, created_at) FROM stdin;
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_items (id, order_id, product_name, quantity, unit_price, subtotal) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders (id, "orderNo", customer_id, total_amount, deposit_amount, status, payment_method, shipping_address, created_at, updated_at) FROM stdin;
\.


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: customer_ai customer_ai_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_ai
    ADD CONSTRAINT customer_ai_pkey PRIMARY KEY (id);


--
-- Name: customer_interests customer_interests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_interests
    ADD CONSTRAINT customer_interests_pkey PRIMARY KEY (id);


--
-- Name: customer_sources customer_sources_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_sources
    ADD CONSTRAINT customer_sources_pkey PRIMARY KEY (id);


--
-- Name: customer_tags customer_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_tags
    ADD CONSTRAINT customer_tags_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: customer_ai_customer_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX customer_ai_customer_id_key ON public.customer_ai USING btree (customer_id);


--
-- Name: orders_orderNo_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "orders_orderNo_key" ON public.orders USING btree ("orderNo");


--
-- Name: conversations conversations_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: customer_ai customer_ai_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_ai
    ADD CONSTRAINT customer_ai_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: customer_interests customer_interests_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_interests
    ADD CONSTRAINT customer_interests_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: customer_sources customer_sources_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_sources
    ADD CONSTRAINT customer_sources_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: customer_tags customer_tags_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_tags
    ADD CONSTRAINT customer_tags_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: messages messages_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders orders_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Mq8VeeV1X1dc22K4s3dhl4HN1g79FpWfRYUpcdtzeXpu4b29rQnoeKzkyDTMrRy

